.product-list {
    padding: 16px 32px;
    width: 100%;
    min-height: 100vh;
}
.product-list--wrapper {
    display: flex;
    padding-left: 40px;
    flex-wrap: wrap;
}
.item-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0;
    width: 16.66%;
    margin: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.item-card__information {
    padding: 6px 12px;
    margin-top: 12px;
}
.item-card__information .title {
    text-overflow: ellipsis;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    overflow-x: hidden;
}
.item-card__information .title h3 {
    margin: 4px 0 8px;
}
.item-card__modal {
    display: flex;
}
.item-card__modal .img-wrap {
    flex-basis: 40%;
    min-width: 40%;
}
.item-card__modal .meta {
    flex-grow: 60%;
}
.item-card__modal .meta h3 {
    margin-top: 12px;
    margin-bottom: 4px;
    opacity: 0.8;
}
.item-card__modal .meta p {
    font-weight: 300;
    color: grey;
    font-family: Roboto;
    font-size: 14px;
}
.item-card__modal button.cart-add {
    border-radius: 0px;
}
.item-card__modal .cart-addon {
    justify-content: space-between;
}
.pricing small {
    opacity: 0.5;
    font-weight: 400;
    margin-left: 8px;
}
.pricing span {
    font-size: 14px;
    font-weight: 500;
}
button.cart-add {
    margin-top: auto;
    cursor: pointer;
    width: 100%;
    background-color: #e96125;
    border-radius: 0px 0px 4px 4px;
    border: unset;
    font-size: 14px;
    padding: 8px 16px;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
button.cart-add__modal {
    margin-top: 8px;
}
.cart-addon {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-addon__modal {
    margin-top: 8px;
}
.cart-addon button {
    cursor: pointer;
    background-color: #e96125;
    border-radius: 4px;
    border: unset;
    font-size: 14px;
    padding: 8px 12px;
    color: white;
}
.cart-addon span.counter {
    font-weight: lighter;
    padding: 0 16px;
}

.cart-addon {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-addon__modal {
    margin-top: 8px;
}
.cart-addon button {
    cursor: pointer;
    background-color: #e96125;
    border-radius: 4px;
    border: unset;
    font-size: 14px;
    padding: 8px 12px;
    color: white;
}
.cart-addon span.counter {
    font-weight: lighter;
    padding: 0 16px;
}

.img-fluiid{
    width: 100px;
    height: 100px;
}